$primary-color: #845EC2;
$secondary-color: #B39CD0;
$third-color: #FBEAFF;
$fourth-color: #00C9A7; 




// body {
    // margin: 0;
    // padding: 0;
    // font-family: Arial, Helvetica, sans-serif;
// }

button {
    font-family: "Helvetica Neue W31","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.06em;
    letter-spacing: 1.1px;

    // background-color: $fourth-color;
    border: none;
    border-radius: 5px;
    // background: blueviolet;
    color: white;

    font-family: "Helvetica Neue W31","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;



    &:hover {
        cursor: pointer;
        background: lighten($fourth-color, 3%)
    }
}

input{
    padding: 10px 20px;
    background-color: $third-color;
    border: none;
    border-radius: 10px;

}