.Home {
  @media only screen and (max-width: 1350px) {
    .homeCarusel {
      .container {
        height: 400px;

        .backGroundImg {
          object-position: 70% 50%;
        }
      }
    }
  }

  @media only screen and (max-width: 1110px) {
    .homeCarusel {
      .container {
        .backGroundImg {
          object-position: 70% 50%;
        }
      }
    }
  }

  @media only screen and (max-width: 1050px) {
    .homeCarusel {
      .container {
        height: 300px;

        .text {
          width: 50vw;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .homeCarusel {
      .container {
        height: 250px;

        .backGroundImg {
          object-position: 75% 50%;
        }

        .text {
          bottom: 40%;
          left: 5%;
          width: 60vw;
        }

      }
    }
  }

}







@media only screen and (max-width: 600px) {



  .Navbar {

    .btn {
      display: none;
    }

    .logo {
      width: 130px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .cartIcon {
      width: 24px;
      right: 55px;

      .cartCount {
        top: -12px;
        right: -11px;
        font-size: 12px;
        height: 20px;
        width: 20px;

      }

    }

    .mobileMenu {
      display: block;
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translate(0%, -50%);

      clear: all;
      background-color: transparent;
      padding: 0;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 30px;
        padding: 0;
      }
    }
  }

  .Home {

    .ProductsCarusel {
      width: 100%;

      .recomended {
        margin: 27px;
        margin-top: 25px;
        font-size: 22px;
      }



    }
  }


  .MobileMenuTab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(black, 0.5);

    animation: mobile 0.5s 1;

    @keyframes mobile {
      from {
        left: -400px;
      }

      to {
        left: 0;
      }
    }


    .close_menu {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      clear: all;
      background-color: black;

      &:hover {
        cursor: pointer;
        // background-color: white;
      }

      img {
        width: 45px;
      }
    }

    .tab {
      padding-top: 100px;
      background-color: black;
      width: 70vw;
      height: 100vh;
      display: flex;
      flex-direction: column;




      .link {
        text-decoration: none;
        color: white;
        font-size: 23px;
        padding: 15px 65px;
      }
    }
  }



  .ShoppingCart {
    font-size: 20px;


    .tab {
      font-size: 20px;

      min-width: auto;

      width: 80vw;
      padding: 18px 20px;



      .CartItem {
        font-size: 20px;

        .left {
          .name {
            margin-left: 10px;

            span,
            .itemPrice {
              font-size: 15px;
            }
          }
        }

        img {

          width: 85px;
          height: 85px;
        }
      }
    }

  }



  .Product {

    .slider_and_description {
      display: block;

      .sliderContainer {

        .slider {
          position: relative;
          float: none;
          margin: 0 auto;

          .counter {

            display: block;
            position: absolute;
            top: 17px;
            right: 20px;
            background-color: rgba(white, 0.3);
            border-radius: 25px;
            padding: 5px 15px;
            color: rgb(40, 40, 40);
            color: black;
            // font-weight: bold;
            font-weight: 400;
            letter-spacing: 1.9px;

          }

        }

        .ButtonGroup {
          top: 0;
          right: 0;
          width: 100%;

          .imgSelector {
            display: none;
            // position: static;

            .counter {
              display: block;
            }
          }
        }

      }

      .description {
        padding: 40px 16%;
      }


    }

    .otherProductsCarusel {
      width: 100%;
    }


  }
}