@media only screen and (max-width: 600px) {



  .Navbar {

    .btn {
      display: none;
    }

    .logo {
      width: 130px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .cartIcon {
      width: 24px;
      right: 55px;

      .cartCount {
        top: -12px;
        right: -11px;
        font-size: 12px;
        height: 20px;
        width: 20px;

      }

    }

    .mobileMenu {
      display: block;
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translate(0%, -50%);

      clear: all;
      background-color: transparent;
      padding: 0;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 30px;
        padding: 0;
      }
    }
  }


  .MobileMenuTab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(black, 0.5);

    animation: mobile 0.5s 1;

    @keyframes mobile {
      from {
        left: -400px;
      }

      to {
        left: 0;
      }
    }


    .close_menu {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      clear: all;
      background-color: black;

      &:hover {
        cursor: pointer;
        // background-color: white;
      }

      img {
        width: 45px;
      }
    }

    .tab {
      padding-top: 100px;
      background-color: black;
      width: 70vw;
      height: 100vh;
      display: flex;
      flex-direction: column;




      .link {
        text-decoration: none;
        color: white;
        font-size: 23px;
        padding: 15px 65px;
      }
    }
  }



  .ShoppingCart {
    // width: auto;
    // width: 100%;
    outline: green solid 1px;


    .tab {
      font-size: 25px;
      // width: 100%;

      .CartItem {
        font-size: 17px;

      }
    }

  }



  .Product {
    display: block;
    // grid-template-columns: 100%;

    .sliderContainer {

      .slider {

        position: relative;
        float: none;
        margin: 0 auto;

        .counter {

          display: block;
          position: absolute;
          top: 20px;
          right: 30px;
          background-color: rgba(120, 120, 120, 0.6);
          border-radius: 25px;
          padding: 5px 15px;
          color: white;
          letter-spacing: 1.9px;

        }

      }

      .ButtonGroup {
        top: 0;
        right: 0;
        width: 100%;

        .imgSelector {
          display: none;
          // position: static;

          .counter {
            display: block;
          }
        }
      }

    }

    .description {
      padding: 40px 16%;
    }
  }



}