body{
    margin:0;
    padding: 0;
}



.navigation{
    border-bottom: 1px black solid ;
    height: 50px;
    display: flex;

    .btn{
        text-decoration: none;
        padding: 5px;
        margin: 5px;
    }
}